.pre-footer-section {
  height: auto;
  background-color: var(--main-9876b83d);
  color: var(--main-9876b83d);
}

@media screen and (min-width: 1440px) {
  .pre-footer-section {
    margin-top: 45px;
  }
}

.pre-footer-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-8 {
  margin-top: 34px;
  padding-right: 162px;
  padding-left: 162px;

  font-family: 'Open Sans', sans-serif;
  color: var(--white-fd47ad0c);
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .heading-8 {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 479px) {
  .heading-8 {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
  }
}

.text-span {
  color: var(--gold-f0daeba3);
}

.text-span-2 {
  color: var(--gold-f0daeba3);
}

.button-list-asso {
  position: static;

  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 25px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: 4px;

  background-color: var(--light-sea-green);

  transition: background-color 200ms ease;

  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  -webkit-text-stroke-color: var(--light-sea-green);
  text-transform: none;
}

.button-list-asso:hover {
  background-color: var(--dim-grey);
}