.footer {
  display: flex;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: center;

  background-color: var(--lightSeaGreen-2c79dad3);

  text-align: center;
}

.footer:hover {
  border-radius: 0px;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    overflow: hidden;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
}

.container-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .container-2 {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer-flex-container {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: stretch;

  text-align: left;
}

@media screen and (max-width: 991px) {
  .footer-flex-container {
    overflow: visible;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;

    object-fit: contain;
  }
}

@media screen and (max-width: 767px) {
  .footer-flex-container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
  }
}

@media screen and (max-width: 479px) {
  .footer-flex-container {
    flex-direction: column;
    align-items: center;
  }
}

.div-block-6 {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .div-block-6 {
    display: flex;
    padding-right: 14px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
}

@media screen and (max-width: 479px) {
  .div-block-6 {
    align-items: center;
  }
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;

  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-size: 25px;
  line-height: 1.5;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .footer-heading {
    margin-top: 20px;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 767px) {
  .list-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .list-footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
  }
}

.footer-link {
  display: block;
  margin-bottom: 10px;

  transition: color 300ms cubic-bezier(.755, .05, .855, .06);

  font-family: 'Open Sans', sans-serif;
  color: var(--white-fd47ad0c);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--main-9876b83d);
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .footer-link {
    max-width: 200px;
  }
}

.bold-text {
  font-weight: 600;
}

.bold-text:hover {
  color: var(--white-fd47ad0c);
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .bold-text {
    display: block;
    width: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
  }
}

.sm-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons {
  display: flex;
  align-items: center;

  border: 1px none black;
  border-radius: 0px;

  opacity: 1;

  transition: filter 200ms cubic-bezier(.755, .05, .855, .06);
}

.social-media-icons:hover {
  filter: grayscale(100%);
}

@media screen and (max-width: 479px) {
  .social-media-icons {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.image-3 {
  margin-right: 8px;
  margin-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0px;
}

.image-4 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-4:hover {
  color: var(--dimGrey-9c2136ec);
}

.text-block-3 {
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: 'Open Sans', sans-serif;
  color: var(--white-fd47ad0c);
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .text-block-3 {
    text-align: center;
  }
}