.button-4 {
  display: flex;
  margin-right: 287px;
  margin-bottom: 16px;
  margin-left: 287px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  border-radius: 4px;

  background-color: var(--lightSeaGreen-2c79dad3);
}

@media screen and (max-width: 479px) {
  .button-4 {
    border-radius: 3px;
    background-color: var(--white-fd47ad0c);
    color: hsla(0, 0.00%, 0.00%, 1.00);
    font-weight: 600;
  }
}