.header {
  margin-top: 0px;
  padding-top: 0px;

  background-color: var(--lightSeaGreen-2c79dad3);
  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/61655bdd559bab0d2806e6ec_Header%20pic.svg");
  background-position: 0% 50%;
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media screen and (min-width: 1440px) {
  .header {
    background-repeat: repeat-x;
  }
}

.container-4 {
  display: block;
  padding-top: 97px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 767px) {
  .container-4 {
    object-fit: fill;
  }
}