.navbar {
  background-color: var(--white);
  color: var(--white-fd47ad0c);
}

@media screen and (max-width: 479px) {
  .navbar {
    background-color: var(--white);
  }
}

.container-3 {
  margin-top: 0px;
}

.image {
  display: flex;
  margin-top: 15px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .image {
    max-width: 150px;
  }
}

.nav-menu {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    margin-top: 0px;
    background-color: var(--white);
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    display: block;
    margin-top: 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--main);
  }
}

.dropdown-2 {
  display: none;
}

@media screen and (max-width: 991px) {
  .dropdown-2 {
    margin-right: -14px;
  }
}

@media screen and (max-width: 767px) {
  .dropdown-2 {
    display: none;
  }
}

.dropdown-toggle {
  position: relative;
  display: flex;
  padding-right: 40px;
  align-items: center;
}

.dropdown-toggle:global(.w--open) {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .dropdown-toggle {
    padding-right: 40px;
  }
}

.icon-2 {
  color: var(--main-9876b83d);
}

.text {
  margin-left: 0px;

  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.dropdown-list-2 {
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .dropdown-list-2 {
    display: none;
    background-color: var(--main);
    color: var(--white);
  }
}

.nav-link {
  position: relative;

  display: inline-block;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 10px;
  padding: 10px 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .nav-link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid hsla(0, 0.00%, 76.86%, 1.00);
  }
}

.nav-button-outline {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid var(--main-9876b83d);
  border-radius: 4px;

  background-color: transparent;

  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .nav-button-outline {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .nav-button-outline {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
  }
}

.menu-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: none;
    background-color: var(--transparent);
    color: var(--main-9876b83d);
  }
}

@media screen and (max-width: 479px) {
  .menu-button {
    display: none;
    color: var(--main-9876b83d);
  }
}