.div-quote-wo-cms {
  display: flex;
  max-width: 500px;
  min-width: 400px;
  margin-right: 25px;
  padding: 21px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;

  border-radius: 11px;

  background-color: var(--white);
}

@media screen and (max-width: 479px) {
  .div-quote-wo-cms {
    min-width: 300px;
  }
}

.div-block-109 {
  display: flex;
  align-items: flex-end;
}

.image-80 {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
}

.div-block-108 {
  padding-bottom: 5px;
  padding-left: 15px;
}

.text-block-15 {
  color: var(--main-9876b83d);
  font-size: 20px;
  font-weight: 600;
}

.text-block-17 {
  font-size: 12px;
  line-height: 15px;
}

.paragraph-123 {
  margin-top: 19px;
  margin-bottom: 19px;
  align-self: auto;
  flex: 0 auto;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}