.section-header-ch-desktop {
  position: relative;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: var(--main);
}

@media screen and (min-width: 1440px) {
  .section-header-ch-desktop {
    height: 85vh;
  }
}

@media screen and (max-width: 991px) {
  .section-header-ch-desktop {
    height: auto;
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section-header-ch-desktop {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .section-header-ch-desktop {
    overflow: visible;
    height: auto;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
}

.container-67 {
  position: relative;
  z-index: 1;

  display: flex;
  padding-left: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 991px) {
  .container-67 {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .container-67 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .container-67 {
    flex-direction: column;
    align-items: center;
  }
}

.line-1 {
  position: absolute;
  left: 12.5%;
  top: auto;
  right: 0%;
  bottom: -40%;
  z-index: -1;

  width: 35%;
}

@media screen and (min-width: 1440px) {
  .line-1 {
    left: 14%;
    bottom: -51%;
    width: 35%;
  }
}

@media screen and (max-width: 991px) {
  .line-1 {
    bottom: -15%;
  }
}

@media screen and (max-width: 767px) {
  .line-1 {
    display: none;
  }
}

.div-block-190 {
  display: flex;
  margin-left: -75px;
  padding-left: 0px;
  justify-content: flex-start;

  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/657ad9e67e024f7b5ae03efb_SDG%20Kreis.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;

  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .div-block-190 {
    max-width: 300px;
    margin-left: 0px;
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 767px) {
  .div-block-190 {
    width: 100%;
    max-width: none;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .div-block-190 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.slider-9 {
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 38px;
  flex-direction: column;
  align-items: center;

  background-color: var(--transparent);

  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .slider-9 {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .slider-9 {
    padding: 30px;
  }
}

.mask-5 {
  overflow: hidden;
  width: 400px;
  height: 150%;
  border-radius: 400px;
  object-fit: contain;
}

@media screen and (max-width: 991px) {
  .mask-5 {
    width: 225px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 300px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .mask-5 {
    width: 100%;
    border-radius: 500px;
  }
}

.div-block-180 {
  display: flex;
  overflow: hidden;
  width: 400px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  aspect-ratio: auto;

  border-radius: 0px;

  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/65685f749bddd4ffba570c6c__DSC4634.jpg");
  background-position: 10% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  object-fit: contain;
  object-position: 50% 50%;
}

@media screen and (max-width: 991px) {
  .div-block-180 {
    width: 225px;
    height: auto;
    aspect-ratio: 1/1;
  }
}

.div-block-180.pic1 {
  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/65aa56aa329f991616566fc0_signal-2023-12-05-110013%20(1).jpeg");
  background-position: 0% 25%;
}

@media screen and (max-width: 767px) {
  .div-block-180.pic1 {
    width: 100%;
    height: 100%;
  }
}

.div-block-180.pic2 {
  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/65685f75817f38cc35b75190__DSC4630%20(4).jpg");
  background-position: 30% 100%;
  background-size: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 991px) {
  .div-block-180.pic2 {
    background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/6573301de3207b1aa3f006f2_Team-Marburg23-edited%20(Mittel)-min.png");
    background-position: 50% 50%;
  }
}

@media screen and (max-width: 767px) {
  .div-block-180.pic2 {
    width: 100%;
    height: 100%;
  }
}

.div-block-180.pic-3 {
  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/655de9504992345f2708452a__DSC4482%20(Klein).jpg");
  background-position: 50% 100%;
}

@media screen and (max-width: 991px) {
  .div-block-180.pic-3 {
    background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/655de9504992345f2708452a__DSC4482%20(Klein).jpg");
    background-position: 50% 50%;
  }
}

@media screen and (max-width: 767px) {
  .div-block-180.pic-3 {
    width: 100%;
  }
}

.left-arrow-6 {
  display: none;
}

.right-arrow-6 {
  display: none;
}

.slide-nav-5 {
  display: none;
}

.div-block-195 {
  display: flex;
  width: 60%;
  margin-left: 45px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 0 auto;
}

@media screen and (max-width: 991px) {
  .div-block-195 {
    min-width: 390px;
    object-fit: fill;
  }
}

@media screen and (max-width: 767px) {
  .div-block-195 {
    width: 90%;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-195 {
    min-width: auto;
    margin-bottom: 20px;
  }
}

.heading-117-copy {
  margin-top: 0px;
  margin-bottom: 20px;

  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  -webkit-text-stroke-color: var(--white);
  white-space: normal;
}

@media screen and (max-width: 767px) {
  .heading-117-copy {
    white-space: normal;
  }
}

@media screen and (max-width: 479px) {
  .heading-117-copy {
    margin-top: 0px;

    color: var(--white-fd47ad0c);
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-shadow: none;
  }
}

.text-span-22-copy {
  background-color: transparent;
  background-image: linear-gradient(203deg, var(--light-sea-green), var(--gold-f0daeba3));
  -webkit-text-stroke-color: var(--gold-f0daeba3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 479px) {
  .text-span-22-copy {
    background-image: linear-gradient(249deg, var(--light-sea-green), var(--gold-f0daeba3));
    font-weight: 800;
  }
}

.text-block-31-copy {
  margin-bottom: 20px;

  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .text-block-31-copy {
    margin-bottom: 16px;

    font-family: 'Open Sans', sans-serif;
    color: var(--white-fd47ad0c);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }
}

.div-block-168 {
  display: flex;
  align-items: center;
}

.button-gradient {
  margin: 0px 23px 0px 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  float: left;

  border-style: solid;
  border-width: 1.5px;
  border-color: hsla(184.77272727272728, 57.89%, 29.80%, 1.00);
  border-radius: 4px;

  background-color: var(--white);
  background-image: linear-gradient(150deg, var(--light-sea-green), var(--gold));

  transition: box-shadow 350ms ease;

  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;

  mix-blend-mode: normal;
}

@media screen and (min-width: 1440px) {
  .button-gradient {
    color: var(--white);
  }
}

.button-gradient:hover {
  background-color: var(--dimGrey-9c2136ec);
  background-image: linear-gradient(352deg, var(--light-sea-green), var(--gold));
  box-shadow: 2px 3px 5px -1px hsla(184.77272727272728, 33.53%, 46.76%, 1.00);
  color: var(--white-fd47ad0c);
}

@media screen and (max-width: 479px) {
  .button-gradient {
    margin-bottom: 13px;
    text-align: center;
  }
}

.div-block-169 {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .div-block-169 {
    display: none;
  }
}

.image-125 {
  width: 50px;
}

.number-users {
  margin-left: 12px;

  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.text-block {
  margin-left: 12px;

  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

@media screen and (max-width: 479px) {
  .text-block {
    display: none;
  }
}

.div-block-118-copy {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
  margin-top: 40px;
  padding: 8px;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .div-block-118-copy {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 5%;

    margin-top: 60px;
  }
}

@media screen and (max-width: 991px) {
  .div-block-118-copy {
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  .div-block-118-copy {
    bottom: 2%;
    display: none;
    margin-top: 20px;
    border-radius: 7px;
    background-color: hsla(0, 0.00%, 93.33%, 0.00);
  }
}

.text-block-19-copy {
  padding-bottom: 9px;

  font-family: 'Open Sans', sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .text-block-19-copy {
    color: var(--white);
    -webkit-text-stroke-color: var(--white);
  }
}

.section-104 {
  display: block;
  overflow: visible;
  height: 450px;
  margin-top: -1px;
  padding-top: 76px;

  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/65941c723d9666bb6b25e8f8_Gruppe%208354.svg");
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;

  object-fit: fill;
}

@media screen and (min-width: 1440px) {
  .section-104 {
    overflow: visible;
    height: 500px;
    margin-bottom: 0px;
    padding-top: 80px;
    padding-bottom: 0px;

    background-position: 50% 100%;
  }
}

@media screen and (max-width: 767px) {
  .section-104 {
    height: auto;
    background-position: 0% 0%;
    background-size: auto 90%;
  }
}

@media screen and (max-width: 479px) {
  .section-104 {
    overflow: visible;
    margin-top: -4px;
    padding-top: 40px;
    background-position: 0% 0%;
  }
}

.container-66 {
  position: relative;
  display: flex;
  padding-top: 0px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .container-66 {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
  }
}

.image-134 {
  position: absolute;
  left: 38%;
  top: auto;
  right: 0%;
  bottom: -29%;

  display: none;
}

@media screen and (max-width: 991px) {
  .image-134 {
    left: 26%;
    bottom: -20%;
  }
}

@media screen and (max-width: 767px) {
  .image-134 {
    display: none;
  }
}

.div-block-182 {
  position: relative;
  z-index: 1;
  width: 50%;
  margin-right: 37px;
}

@media screen and (max-width: 767px) {
  .div-block-182 {
    width: 100%;
  }
}

.heading-125 {
  color: var(--white);
  text-align: left;
}

.paragraph-143 {
  color: var(--white);
}

@media screen and (max-width: 991px) {
  .paragraph-143 {
    padding-right: 68px;
  }
}

.div-block-183 {
  display: flex;
  width: 50%;
  margin-left: 0px;
  padding-left: 69px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .div-block-183 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-183 {
    width: 100%;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-183 {
    overflow: hidden;
  }
}

.heading-125-copy {
  color: var(--main);
  text-align: right;
}

@media screen and (max-width: 767px) {
  .heading-125-copy {
    color: var(--white);
  }
}

@media screen and (max-width: 479px) {
  .heading-125-copy {
    text-align: left;
  }
}

.div-block-199 {
  display: block;
  width: 100%;
  height: 175px;

  border-radius: var(--radius-standart);

  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/65aa607ab8badd884e582b61_Transformation%20Potsdam%20(1).gif");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .div-block-199 {
    height: 250px;
  }
}

.section-ch-projects {
  margin-top: 60px;
  padding-top: 0px;
  background-color: var(--main-9876b83d);
}

@media screen and (max-width: 767px) {
  .section-ch-projects {
    padding-left: 0px;
    background-color: var(--main-9876b83d);
  }
}

@media screen and (max-width: 479px) {
  .section-ch-projects {
    overflow: visible;
    margin-bottom: -3px;
    padding-bottom: 0px;
  }
}

.container-61 {
  position: relative;
  top: -120px;
  object-fit: fill;
}

@media screen and (max-width: 767px) {
  .container-61 {
    top: -134px;
    padding-right: 0px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container-61 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

.heading-123 {
  position: static;

  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--main-9876b83d);
  text-align: center;
  -webkit-text-stroke-color: var(--main-9876b83d);
}

@media screen and (max-width: 767px) {
  .heading-123 {
    padding-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .heading-123 {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
  }
}

.slider-projects {
  height: auto;
  background-color: hsla(0, 0.00%, 86.67%, 0.00);
}

.mask-4 {
  overflow: hidden;
  height: auto;
  object-fit: contain;
}

.slide-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .slide-wrapper {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.div-project-card-slide {
  position: relative;

  display: flex;
  width: 500px;
  min-width: 350px;
  margin-right: 0px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  align-items: center;

  border-radius: 6px;

  background-color: var(--whiteSmoke-f3fbc812);
}

@media screen and (max-width: 479px) {
  .div-project-card-slide {
    width: 100%;
    min-width: 300px;
  }
}

.image-120-copy {
  width: 100%;
  height: 200px;
  max-width: none;
  object-fit: cover;
  object-position: 50% 70%;
}

.heading-118 {
  color: var(--dimGrey-9c2136ec);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.text-block-33 {
  margin-bottom: 10px;

  font-family: 'Open Sans', sans-serif;
  color: var(--lightSeaGreen-2c79dad3);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.paragraph-139 {
  margin-bottom: 20px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.div-block-158 {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  order: 0;
  flex: 1;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.div-block-159 {
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.image-121 {
  width: 25px;
}

.text-block-34 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.button-in-main-color {
  margin-bottom: 24px;
  margin-left: 0px;
  float: left;

  border-style: solid;
  border-width: 1.5px;
  border-color: hsla(184.77272727272728, 57.89%, 29.80%, 1.00);
  border-radius: 4px;

  background-color: var(--main-9876b83d);

  box-shadow: none;

  transition: box-shadow 300ms ease,background-color 300ms cubic-bezier(.645, .045, .355, 1);

  color: var(--white-fd47ad0c);
  font-weight: 600;
  text-transform: uppercase;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button-in-main-color:hover {
  background-color: var(--dimGrey-9c2136ec);
  color: var(--white-fd47ad0c);
}

@media screen and (max-width: 479px) {
  .button-in-main-color {
    margin-bottom: 13px;
    text-align: center;
  }
}

.button-in-main-color.dono-page {
  margin-bottom: 0px;
  box-shadow: 3px 3px 2px 0 hsla(175.11627906976744, 39.09%, 56.86%, 0.61);
}

.button-in-main-color.verein {
  margin-bottom: 0px;
}

.slide-12 {
  overflow: visible;
  width: 100%;
  height: auto;
  aspect-ratio: auto;
  object-fit: contain;
}

.image-120 {
  width: 100%;
  height: 200px;
  max-width: none;
  object-fit: cover;
  object-position: 50% 40%;
}

.slide-nav-4 {
  position: static;
  top: 595.688px;
  overflow: visible;
  margin-top: 0px;
}

@media screen and (max-width: 479px) {
  .slide-nav-4 {
    left: 0%;
    top: auto;
    right: 0%;
    bottom: -6%;
  }
}

.paragraph-142 {
  margin-top: 60px;
  padding-bottom: 10px;
  color: var(--white);
  font-size: 18px;
  text-align: center;
}

.div-block-157 {
  position: relative;
  top: auto;

  display: none;
  overflow: scroll;
  margin-bottom: 66px;
  margin-left: 0px;
}

.div-block-176 {
  margin-top: 0px;
}

.div-project-card {
  display: flex;
  width: 350px;
  min-width: 350px;
  margin-right: 20px;
  margin-bottom: 14px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  align-items: center;

  border-radius: 6px;

  background-color: var(--whiteSmoke-f3fbc812);
}

@media screen and (max-width: 479px) {
  .div-project-card {
    width: 300px;
    min-width: 300px;
  }
}

.div-block-160 {
  display: flex;
  margin-top: 60px;
  margin-bottom: 0px;
  flex-direction: column;
  align-items: center;
}

.heading-119 {
  color: var(--white-fd47ad0c);
  text-align: center;
}

.button-on-main-color-ch {
  position: relative;
  z-index: 1;

  display: inline-block;
  margin-top: 25px;
  margin-bottom: 33px;
  padding: 14px 44px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: 4px;

  background-color: hsla(176.25, 66.67%, 90.59%, 1.00);

  transition: background-color 425ms ease;

  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.button-on-main-color-ch:hover {
  background-color: var(--white-fd47ad0c);
}

.image-136 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -17%;
  z-index: 0;

  width: 55%;
}

@media screen and (max-width: 991px) {
  .image-136 {
    right: 6%;
  }
}

@media screen and (max-width: 767px) {
  .image-136 {
    display: none;
  }
}

.section-your-ch {
  position: relative;
  margin-top: 80px;
  margin-bottom: 329px;
}

@media screen and (max-width: 767px) {
  .section-your-ch {
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .section-your-ch {
    overflow: visible;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.container-60 {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .container-60 {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .container-60 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.image-135 {
  position: absolute;
  left: 39%;
  top: -65%;
  right: 0%;
  bottom: auto;

  display: block;
  width: 50%;
}

@media screen and (max-width: 991px) {
  .image-135 {
    left: 27%;
    top: -59%;
  }
}

@media screen and (max-width: 767px) {
  .image-135 {
    display: none;
  }
}

.heading-116-copy {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--main-9876b83d);
  font-size: var(--heading-big);
  text-align: left;
  -webkit-text-stroke-color: var(--main-9876b83d);
}

@media screen and (max-width: 767px) {
  .heading-116-copy {
    padding-right: 0px;
  }
}

@media screen and (max-width: 479px) {
  .heading-116-copy {
    margin-right: 10px;
    margin-left: 10px;
    line-height: 35px;
    text-align: left;
  }
}

.div-block-186 {
  position: relative;
  display: flex;
}

@media screen and (max-width: 991px) {
  .div-block-186 {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .div-block-186 {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .div-block-186 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.div-block-154-copy-2 {
  display: flex;
  width: 50%;
  margin-right: 30px;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .div-block-154-copy-2 {
    min-width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .div-block-154-copy-2 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.div-block-186-copy {
  position: relative;
  display: flex;
  margin-top: 101px;
}

@media screen and (max-width: 991px) {
  .div-block-186-copy {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .div-block-186-copy {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .div-block-186-copy {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.div-block-186-copy {
  position: relative;
  display: flex;
}

@media screen and (max-width: 991px) {
  .div-block-186-copy {
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .div-block-186-copy {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .div-block-186-copy {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.paragraph-138-copy-2 {
  color: #484848;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .paragraph-138-copy-2 {
    min-width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-138-copy-2 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .paragraph-138-copy-2 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.tabs-2-copy {
  display: flex;
  margin-top: 56px;
}

@media screen and (max-width: 767px) {
  .tabs-2-copy {
    margin-top: 100px;
  }
}

@media screen and (max-width: 479px) {
  .tabs-2-copy {
    margin-top: 82px;
    flex-direction: column;
  }
}

.tabs-menu-4-copy {
  position: absolute;
  left: -30%;
  top: auto;
  right: auto;
  bottom: 5%;
  z-index: 1;

  display: flex;
  width: auto;
  height: auto;
  margin-top: 0px;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 6px;

  background-image: linear-gradient(43deg, #207178, #f3d516);
}

@media screen and (max-width: 767px) {
  .tabs-menu-4-copy {
    left: 3%;
    top: -19%;
    right: auto;
    bottom: auto;
    margin-top: -20px;
  }
}

@media screen and (max-width: 479px) {
  .tabs-menu-4-copy {
    top: -14.5vw;
    margin-left: 10px;
  }
}

.tab-link-ch {
  background-color: transparent;
}

.tab-link-ch:global(.w--current) {
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
}

.div-block-184 {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.div-block-184:hover {
  color: var(--main);
}

.div-block-dots {
  width: 8px;
  height: 8px;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 0px;
  padding-right: 0px;

  border: 1px solid white;
  border-radius: 18px;

  background-color: white;
}

.div-block-185 {
  display: flex;
  width: auto;
  margin-left: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.text-block-45 {
  width: 60%;
  padding-bottom: 3px;

  transition: font-size 200ms ease;

  color: white;
  font-size: 20px;
  font-weight: 600;
}

.text-block-45:hover {
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
}

@media screen and (max-width: 479px) {
  .text-block-45:hover {
    transform: none;
  }
}

@media screen and (max-width: 479px) {
  .text-block-45:active {
    transform: none;
  }
}

.text-block-46-copy {
  display: block;
  width: 200px;
  color: white;
  font-size: 14px;
}

.div-block-188 {
  width: 66px;
  margin-top: 12px;
  border: 1px solid white;
  border-radius: 20px;
}

.text-block-46-copy {
  display: none;
  width: 200px;
  color: white;
  font-size: 14px;
}

.text-block-46-copy {
  display: block;
  width: 200px;
  color: white;
  font-size: 14px;
}

.tabs-content-3-copy {
  display: block;
  width: auto;
  justify-content: flex-end;
  border-radius: var(--radius-standart);
}

@media screen and (max-width: 767px) {
  .tabs-content-3-copy {
    margin-top: 41px;
  }
}

@media screen and (max-width: 479px) {
  .tabs-content-3-copy {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 0px;
    padding-left: 0px;
    align-self: center;
  }
}

.image-132 {
  width: 500px;
}

@media screen and (max-width: 479px) {
  .image-132 {
    width: 100vw;
    margin-top: 35px;
    object-fit: contain;
  }
}

.line-3 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -45%;

  overflow: visible;
  width: 45%;

  object-fit: fill;
}

@media screen and (max-width: 991px) {
  .line-3 {
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .line-3 {
    display: none;
  }
}

.div-block-221 {
  height: 2000px;
}