.dropdown {
  display: flex;
  overflow: visible;
  width: 250px;
  justify-content: center;
  flex-wrap: nowrap;

  border-radius: 5px;

  background-color: hsla(176.25, 66.67%, 90.59%, 1.00);

  font-family: 'Open Sans', sans-serif;
}

.dropdown-toggle-4 {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-block-23 {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-9876b83d);
  font-size: var(--normal-text);
  font-weight: 600;
}

.dropdown-list-3 {
  position: absolute;
  top: 0px;

  display: block;

  border: 0px solid var(--main-9876b83d);
  border-radius: 4px;

  background-color: hsla(176.25, 66.67%, 90.59%, 1.00);

  box-shadow: 3px 4px 5px 0 rgba(0,0,0,0.2);

  font-size: 14px;
  font-weight: 600;
}

.dropdown-list-3:global(.w--open) {
  margin-top: 43px;
  border-color: var(--gainsboro-06f93805);
  border-radius: 5px;
  background-color: var(--white-fd47ad0c);
}