.div-block-218 {
  width: 100%;
  height: 257px;

  border-radius: 6px;

  background-image: url("https://cdn.prod.website-files.com/615d9a37fbb2467a53e09161/65cf631e030e8d161afcede3_Torstrasse-autofrei-Berlin-by-Tom-Meiser-Timo-Schmid-vorher-2048x1365.webp");
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 479px) {
  .div-block-218 {
    height: 200px;
  }
}

.image-158 {
  display: none;
}

.image-155 {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 257px;

  border-radius: 6px;

  object-fit: cover;
  object-position: 0% 100%;
}

@media screen and (max-width: 479px) {
  .image-155 {
    width: 100%;
    height: 200px;
    max-height: 200px;
  }
}

.text-block-58 {
  position: relative;
  top: -18px;
  display: inline-block;
  background-color: hsla(0, 0.00%, 100.00%, 0.54);
  font-size: 10px;
}