# Dependencies
**/node_modules
**/.venv
**/__pycache__

# Build outputs
frontend/.next
frontend/out
backend/staticfiles

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Docker
docker-compose.yml
.dockerignore

# Misc
*.log
*.md
.env*
