# Historically, we've tagged all contributors of the project
# on every single pull request. For example,
# * @positiveimpact @ddhanesha @FnayouSeif @samschaevitz @piperchester @verena-e-p @TheMeerCat
#
# We found that this creates too much noise and blurs the
# intent of who should be the reviewer for the change.
#
# Over time, we can revisit this and
# tag specific people for specific areas of the codebase
# with more context (e.g. backend vs. frontend).

/backend/ @ddhanesha @positiveimpact
/frontend/ @ddhanesha @positiveimpact
