services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.backend_env
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app
      - backend-venv:/app/.venv

  celery:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    command: pdm run celery -A climateconnect_main worker -B -l INFO
    env_file:
      - ./backend/.backend_env
    depends_on:
      - db
      - redis
      - backend
    volumes:
      - ./backend:/app
      - backend-venv:/app/.venv

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

  db:
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_PASSWORD: backend
      POSTGRES_USER: backend
      POSTGRES_DB: backend
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres-data:
  backend-venv:
