aioredis==1.3.1
amqp==5.0.3
asgiref==3.2.4
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.12.3
Automat==20.2.0
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
black==21.12b0
billiard==3.6.3.0
cachetools==4.1.0
celery==5.0.5
certifi==2020.4.5.1
cffi==1.15.0
channels==2.4.0
channels-redis==2.4.2
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
constantly==15.1.0
cryptography==3.3.2
daphne==2.5.0
Django==2.2.24
django-cors-headers==3.2.1
django-debug-toolbar==3.2.1
django-filter==2.3.0
django-redis==5.1.0
django-rest-knox==4.1.0
django-storages==1.9.1
djangorestframework==3.11.2
entrypoints==0.3
factory-boy==2.12.0
Faker==4.0.2
flake8==3.7.9
h11==0.11.0
hiredis==1.1.0
httptools==0.1.1
hyperlink==20.0.1
idna==2.9
incremental==17.5.0
kombu==5.0.2
mailjet-rest==1.3.4
mccabe==0.6.1
msgpack==0.6.0
Pillow==8.3.2
prompt-toolkit==3.0.14
protobuf==3.15.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-http-client==3.2.7
pytz==2019.3
PyYAML==5.4
redis==3.5.3
requests==2.26.0
rsa==4.7
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
starkbank-ecdsa==1.0.0
text-unidecode==1.3
Twisted==20.3.0
txaio==20.4.1
urllib3==1.26.5
uvicorn==0.12.1
uvloop==0.14.0
vine==5.0.0
watchgod==0.6
wcwidth==0.2.5
websockets==9.1
zope.interface==5.1.0
