# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - test-climateconnect-frontend

on:
  push:
    branches:
      - develop

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - uses: actions/checkout@master

    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: npm install, build, and test
      run: |
        cd frontend
        yarn --production
        yarn build
      env:
        API_URL: ${{ secrets.TEST_API_URL }}
        ENVIRONMENT: 'production'
        SOCKET_URL: ${{ secrets.TEST_SOCKET_URL }}
        API_HOST: ${{ secrets.TEST_API_HOST }} 
        BASE_URL_HOST: ${{ secrets.TEST_BASE_URL_HOST }}
        LATEST_NEWSLETTER_LINK: ${{ secrets.LATEST_NEWSLETTER_LINK }}
        DONATION_CAMPAIGN_RUNNING: ${{ secrets.DONATION_CAMPAIGN_RUNNING }}


    - name: 'Deploy to Azure Web App'
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'test-climateconnect-frontend'
        slot-name: 'production'
        publish-profile: ${{ secrets.TEST_AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: .
